exposure-engine/provisioning/src/main/resources/provisioning/provisioning.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://e3.prov.com/">
	<grammars>
		<include href="prov.xsd">
			<doc xml:lang="en" title="E3 API Provisioning XML Schemas" />
		</include>
	</grammars>
	<resources base="http://localhost:8181/cxf/e3/prov/v1">
		<resource path="/apis">
			<doc> E3 REST API to get, create, update or delete an API</doc>
			<method name="GET">
				<doc>This REST API is used to get the list of APIs.</doc>
				<request></request>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<method name="POST">
				<doc>This REST API is used to create an API.</doc>
				<request>
					<representation mediaType="application/xml" element="ns:api" />
				</request>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<resource path="/{API_ID}">
				<param name="API_ID" style="template" type="xs:string" />
				<method name="GET">
					<doc>This REST API is used to get the API.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="DELETE">
					<doc>This REST API is used to delete an API.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="PUT">
					<doc>This REST API is used to update an API.</doc>
					<request>
						<representation mediaType="application/xml"
							element="ns:api" />
					</request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/auths">
			<doc> E3 REST API provision authentications on E3 subsystem</doc>
			<method name="GET">
				<doc>This REST API is used to get all authentications from E3
					subsystem.</doc>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<method name="POST">
				<doc>This REST API is used to create an authentication element on E3
					subsystem.</doc>
				<request>
					<representation mediaType="application/xml" element="ns:auth" />
				</request>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<resource path="/{AUTH_ID}">
				<param name="AUTH_ID" style="template" type="xs:string" />
				<method name="DELETE">
					<doc>This REST API is used to delete an Auth.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="GET">
					<doc>This REST API is used to fetch data model by ID.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="PUT">
					<doc>This REST API is used to update an authentication.</doc>
					<request>
						<representation mediaType="application/xml"
							element="ns:auth" />
					</request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
			</resource>
		</resource>
		<resource path="/keys">
			<doc>E3 REST API provision SSLKeys and SSLCerts on E3 subsystem</doc>
			<method name="POST">
				<doc>This REST API is used to create an SSLKey element on E3 subsystem.</doc>
				<request>
					<representation mediaType="application/xml" element="ns:key" />
				</request>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<method name="GET">
				<doc>This REST API is used to get all SSLKeys from E3 subsystem.</doc>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<resource path="/{KEY_ID}">
				<param name="KEY_ID" style="template" type="xs:string" />
				<method name="PUT">
					<doc>This REST API is used to update an SSLKey.</doc>
					<request>
						<representation mediaType="application/xml"
							element="ns:key" />
					</request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="DELETE">
					<doc>This REST API is used to delete an SSLKey.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="GET">
					<doc>This REST API is used to get an SSLKey by ID from E3 subsystem.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<resource path="/certs">
					<param name="KEY_ID" style="template" type="xs:string" />
					<method name="POST">
						<doc>This REST API is used to create an SSLCert element on E3 subsystem.</doc>
						<request>
							<representation mediaType="application/xml"
								element="ns:cert" />
						</request>
						<response>
							<representation mediaType="application/xml"
								element="ns:response" />
						</response>
					</method>	
					<method name="GET">
						<doc>This REST API is used to get all SSLCerts for a key.</doc>
						<request></request>
						<response>
							<representation mediaType="application/xml"
								element="ns:response" />
						</response>
					</method>
					<resource path="/{CERT_ID}">
						<param name="KEY_ID" style="template" type="xs:string" />
						<param name="CERT_ID" style="template" type="xs:string" />
						<method name="PUT">
							<doc>This REST API is used to update an SSLKey.</doc>
							<request>
								<representation mediaType="application/xml"
									element="ns:cert" />
							</request>
							<response>
								<representation mediaType="application/xml"
									element="ns:response" />
							</response>
						</method>
						<method name="DELETE">
							<doc>This REST API is used to delete an SSLCert.</doc>
							<request></request>
							<response>
								<representation mediaType="application/xml"
									element="ns:response" />
							</response>
						</method>
						<method name="GET">
							<doc>This REST API is used to get an SSLKey by ID from E3 subsystem.</doc>
							<request></request>
							<response>
								<representation mediaType="application/xml"
									element="ns:response" />
							</response>
						</method>
					</resource>
				</resource>
				<resource path="/csr">
					<param name="KEY_ID" style="template" type="xs:string" />
					<method name="GET">
						<doc>This REST API is used to get a CSR for the given SSLKey ID from E3 subsystem.</doc>
						<request></request>
						<response>
							<representation mediaType="application/xml"
								element="ns:response" />
						</response>
					</method>
				</resource>
				<resource path="/selfsign">
					<param name="KEY_ID" style="template" type="xs:string" />
					<method name="GET">
						<doc>This REST API is used to create a self-signed cert for an existing Key.</doc>
						<request></request>
						<response>
							<representation mediaType="application/xml"
								element="ns:response" />
						</response>
					</method>
				</resource>
			</resource>
		</resource>
		<resource path="/policies">
			<doc>E3 REST API to create, update or delete a policy</doc>
			<method name="GET">
				<doc>This REST API is used to fetch all policy ids.</doc>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<method name="POST">
				<doc>This REST API is used to create a policy.</doc>
				<request>
					<representation mediaType="application/xml" element="ns:policy" />
				</request>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			<resource path="/{POLICY_ID}">
				<param name="POLICY_ID" style="template" type="xs:string" />
				<method name="DELETE">
					<doc>This REST API is used to delete a policy.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="GET">
					<doc>This REST API is used to fetch policy data.</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<method name="PUT">
					<doc>This REST API is used to update a policy.</doc>
					<request>
						<representation mediaType="application/xml"
							element="ns:policy" />
					</request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
				<resource path="/quotaRLBuckets">
					<param name="POLICY_ID" style="template" type="xs:string" />
					<method name="POST">
						<doc>This REST API is used to add a bucket of auths to a policy.
						</doc>
						<request>
							<representation mediaType="application/xml"
								element="ns:quotaRLBucket" />
						</request>
						<response>
							<representation mediaType="application/xml"
								element="ns:response" />
						</response>
					</method>
					<resource path="/{BUCKET_ID}">
						<param name="POLICY_ID" style="template" type="xs:string" />
						<param name="BUCKET_ID" style="template" type="xs:string" />
						<method name="PUT">
							<doc>This REST API is used to add some auths to a bucket of auths
								on a policy.</doc>
							<request>
								<representation mediaType="application/xml"
									element="ns:quotaRLBucket" />
							</request>
							<response>
								<representation mediaType="application/xml"
									element="ns:response" />
							</response>
						</method>
						<method name="DELETE">
							<doc>This REST API is used to remove a bucket of auths from a
								policy.</doc>
							<request></request>
							<response>
								<representation mediaType="application/xml"
									element="ns:response" />
							</response>
						</method>
						<resource path="/auths/{AUTH_ID}">
							<param name="POLICY_ID" style="template" type="xs:string" />
							<param name="BUCKET_ID" style="template" type="xs:string" />
							<param name="AUTH_ID" style="template" type="xs:string" />
							<method name="DELETE">
								<doc>This REST API is used to delete an auth from a bucket of
									auths on a policy.</doc>
								<request></request>
								<response>
									<representation mediaType="application/xml"
										element="ns:response" />
								</response>
							</method>
						</resource>
					</resource>
				</resource>
			</resource>
		</resource>

		<resource path="/bulk/policies/quotaRLBuckets">
			<doc> E3 REST API to create or delete a bucket of auths associated to
				a list of policies</doc>
			<method name="POST">
				<doc>This REST API is used to create a policy.</doc>
				<request>
					<representation mediaType="application/xml" element="ns:bulk" />
				</request>
				<response>
					<representation mediaType="application/xml" element="ns:response" />
				</response>
			</method>
			
			<resource path="/{BUCKET_ID}">
				<param name="BUCKET_ID" style="template" type="xs:string" />
				<method name="PUT">
					<doc>This REST API is used to append auths to a bucket for several policies.</doc>
					<request>
						<representation mediaType="application/xml" element="ns:bulk"/>
					</request>
					<response>
						<representation mediaType="application/xml" element="ns:response"/>
					</response>
				</method>
			</resource>
		
			<resource path="/{BUCKET_ID}/delete">
				<param name="BUCKET_ID" style="template" type="xs:string" />
				<method name="PUT">
					<doc>This REST API is used to remove a bucket from a list of
						policies.</doc>
					<request>
						<representation mediaType="application/xml"
							element="ns:bulk" />
					</request>
					<response>
						<representation mediaType="application/xml"
							element="ns:response" />
					</response>
				</method>
			</resource>
		</resource>
		
		<resource path="/truststore">
			<doc>
				E3 REST API to add/update/delete trusted CAs and CRLs
			</doc>
			<resource path="/certs">
				<method name="GET">
					<doc>
						This REST API is used to fetch all trusted certificates authorithies.
					</doc>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="POST">
					<doc>
						This REST API is used to add a trusted Certificate Authority.
					</doc>
					<request>
						<representation mediaType="application/xml" />
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/certs/{CA_ID}">
				<param name="CA_ID" style="template" type="xs:string" />
				<method name="DELETE">
					<doc>
						This REST API is used to remove a trusted Certificate Authority.
					</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="GET">
					<doc>
						This REST API is used to fetch trusted Certificate Authority.
					</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="PUT">
					<doc>
						This REST API is used to update a trusted Certificate Authority.
					</doc>
					<request>
						<representation mediaType="application/xml" />
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/crls">
				<method name="GET">
					<doc>
						This REST API is used to fetch trusted Certificate Authority.
					</doc>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="POST">
					<doc>
						This REST API is used to add a Certificate Revocation List for this
						Certificate Authority.
					</doc>
					<request>
						<representation mediaType="application/xml" />
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/crls/{CRL_ID}">
				<param name="CRL_ID" style="template" type="xs:string" />
				<method name="DELETE">
					<doc>
						This REST API is used to remove a certificate revocation list from a
						certificate authority.
					</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="GET">
					<doc>
						This REST API is used to fetch Certificate Revocation List.
					</doc>
					<request></request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="PUT">
					<doc>
						This REST API is used to update a certificate revocation list.
					</doc>
					<request>
						<representation mediaType="application/xml" />
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
			<resource path="/proxy">
				<method name="GET">
					<doc>
						This REST API is used to fetch the global proxy settings.
					</doc>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
				<method name="POST">
					<doc>
						This REST API is used to set the global proxy settings.
					</doc>
					<request>
						<representation mediaType="application/xml" />
					</request>
					<response>
						<representation mediaType="application/xml" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>